.header {
  margin-bottom: var(--space-16);
}

.title {
  margin-bottom: var(--space-4);
}

.section {
  margin-bottom: var(--space-16);
}

.topicsList {
  composes: row row-2 flex-wrap from global;
}
