.masonry {
  display: flex;
  margin-left: calc(-1 * var(--space-6));
  width: auto;
}

.masonryColumn {
  padding-left: var(--space-6);
  background-clip: padding-box;
}

.masonryColumn > * {
  margin-bottom: var(--space-6);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
}

.grid > * {
  height: 100%;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
