.masonry {
  display: flex;
  margin-left: calc(-1 * var(--space-6));
  width: auto;
}

.masonryColumn {
  padding-left: var(--space-6);
  background-clip: padding-box;
}

.masonryColumn > * {
  margin-bottom: var(--space-6);
}
